/* TextEditorLayout.module.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
}

.navLinks {
  display: flex;
  gap: 20px;
}

.navButton {
  background-color: #746df5;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.navButton:hover {
  background-color: #3b2c91;
}
.icon{
  width:20px;
  height:auto;
}
.btns{
  display: flex;
  gap: 10px;
}