*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: Generalsans, sans-serif;
    font-size: large;
    
    
}
:root{
    --akshansh: blue
}
body{
    background-color: rgba(0, 0, 0, 0.089);
}