.Container{
    width: 15rem;
    height: 20rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: start;
    flex-direction: column;
}
.Container div{
    height: 100%;
    padding:10px;
}
.name{
    font-family:'Aurdy,sans-seriff';
    font-size: 35px;
    padding-bottom: 5px;
}
.role{
    font-family: "Inter", sans-serif !important;
    padding-bottom:10px;
}
.feedback{
    line-height: 1.5;
}