.navcontainer{
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding-right: 10px;
    /* gap:rem; */
}
.header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255) ;
    margin:auto;
    padding-left: 1rem;
    border-radius: 10px;
    box-shadow: rgba(39, 37, 54, 0.1) 0px 0px 16px 0px;
    padding: 5px;
    z-index: 1000;
    position:fixed;
    max-width: 98%;
    min-width: 95%;
    top: 10px;
    left: 10px;
    right: 10px;
    transition: all 0.3s ease-in-out;
}
.listbox{
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding-left: 2rem;
    min-height: 60px;
    list-style-type: none;
    gap:1px;
    margin: 0;
}
.buttonbox{
    background-color: rgb(0, 0, 0);
    padding: 0.5rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding-left: 1rem;
    
}

.buttonbox:hover{
    background-color: rgb(58, 55, 55);
}
.buttonbox a{
    text-decoration:none;
    display: flex;
    font-weight: 500;
    color:rgb(255, 255, 255);
    align-items: center;
    gap: 15px;  
}
li{
    padding: 1rem 2rem;
    gap:1px;

}
.listshadow:hover{
    background-color: #f0f0f0;
    border-radius: 5px;
}
.listshadow a{
    text-decoration: none;
    color: black;
}
.iconbox{
    padding: 10px;
    width: 2rem;
    height: 2rem;
    background-color: brown;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.logo{
    width: 10rem;
    height: auto;
    display: flex;
    align-items: center;
    
}
.sticky {
    position: fixed;
    top: 0;
    left: 0!important;
    right: 0!important;
    background: white;
    box-shadow: rgba(39, 37, 54, 0.1) 0px 4px 16px;
    opacity: 0;
    width: 100%!important;
    z-index: 1000;
    border-radius: 0; 
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
  }
